**heading**

**을 통해 마크다운

$y=x^2+bx+c$

양끝에 $를 통해 수식화

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
tips=sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
index=['a','b','c','d']
my_list=[10,20,30,40]

In [9]:
data=np.random.randn(5,4)
df=pd.DataFrame(data,index=["a","b","c","d","e"],columns=['w','x','y','z'])
df.iloc[:3,0]="male"
df.iloc[3:,0]="female"

In [10]:
df

        w         x         y         z
a    male -1.414433  0.945427  0.425733
b    male  0.182798  0.657638  0.702079
c    male  0.344801  0.163193 -1.664068
d  female  1.117281  1.585905  0.158617
e  female  0.915314  0.313438 -1.125632

In [13]:
df.nunique()

w    2
x    5
y    5
z    5
dtype: int64

In [14]:
df['w'].value_counts()

male      3
female    2
Name: w, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 4 columns):
w    5 non-null object
x    5 non-null float64
y    5 non-null float64
z    5 non-null float64
dtypes: float64(3), object(1)
memory usage: 200.0+ bytes

In [16]:
df.describe()

              x         y         z
count  5.000000  5.000000  5.000000
mean   0.229152  0.733120 -0.300654
std    0.997057  0.565456  1.034834
min   -1.414433  0.163193 -1.664068
25%    0.182798  0.313438 -1.125632
50%    0.344801  0.657638  0.158617
75%    0.915314  0.945427  0.425733
max    1.117281  1.585905  0.702079

In [17]:
df['w'].describe()

count        5
unique       2
top       male
freq         3
Name: w, dtype: object

In [21]:
df

          x         y         z
a -1.414433  0.945427  0.425733
b  0.182798  0.657638  0.702079
c  0.344801  0.163193 -1.664068
d  1.117281  1.585905  0.158617
e  0.915314  0.313438 -1.125632

In [25]:
df=df.drop('w',axis=1)
df.drop('w',axis=1,inplace=True)

KeyError: "['w'] not found in axis"

In [ ]:
df.fillna(value=0) #na에 0으로 채움
df['A'].fillna(value=df['A'].mean())

In [27]:
a=['a','b','c','d']
b=[1,2,3,4]
x=list(zip(a,b))
d={key:value for (key,value) in x}

In [ ]:
df[df['w'].apply(lamda x:x[:2]=='fe')]
#앞 두글자가 fe인 거 찾기