In [4]:

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

In [8]:
dataset=pd.read_csv("C:/Users/COM/Desktop/python class/machineLearningBasic-master/machineLearningBasic-master/datasets/Social_Network_Ads.csv")
df=dataset

In [9]:
x=df.iloc[:,[2,3]].values.astype("float32")
y=df.iloc[:,4].values.astype("float32")
xtr,xte,ytr,yte=train_test_split(x,y,test_size=0.2)
sc=StandardScaler()
xtr_sc=sc.fit_transform(xtr)
xte_sc=sc.transform(xte)
#fit을 두번하면 스케일 기준이 변경되어 fit은 한번만
svm_clf=SVC(kernel="rbf")
svm_clf.fit(xtr_sc,ytr)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [11]:
y_pred=svm_clf.predict(xte_sc)

In [12]:
y_pred

array([1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0.,
       1., 0., 0., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0.,
       0., 0., 1., 1., 0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1.], dtype=float32)

In [13]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(yte,y_pred,labels=[1,0]))

[[27  2]
 [ 7 44]]

# 실습

In [144]:
dataset=pd.read_csv("C:/Users/COM/Desktop/python class/machineLearningBasic-master/machineLearningBasic-master/datasets/cell_samples.csv")
cell_df=dataset

In [145]:
feature_df = cell_df.drop(['ID', 'BareNuc'], axis=1)

In [146]:
feature_df.shape

(699, 9)

In [147]:
feature_df.head()

,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BlandChrom,NormNucl,Mit,Class
0,5,1,1,1,2,3,1,1,2
1,5,4,4,5,7,3,2,1,2
2,3,1,1,1,2,3,1,1,2
3,6,8,8,1,3,3,7,1,2
4,4,1,1,3,2,3,1,1,2

In [148]:
feature_df['Class'].value_counts()

2    458
4    241
Name: Class, dtype: int64

In [149]:
x=feature_df.iloc[:,0:8].values.astype("float32")
y=feature_df.iloc[:,8].values.astype("float32")

In [150]:
x

array([[ 5.,  1.,  1., ...,  3.,  1.,  1.],
       [ 5.,  4.,  4., ...,  3.,  2.,  1.],
       [ 3.,  1.,  1., ...,  3.,  1.,  1.],
       ...,
       [ 5., 10., 10., ...,  8., 10.,  2.],
       [ 4.,  8.,  6., ..., 10.,  6.,  1.],
       [ 4.,  8.,  8., ..., 10.,  4.,  1.]], dtype=float32)

In [151]:
xtr,xte,ytr,yte=train_test_split(x,y,test_size=0.2)
sc=StandardScaler()
xtr_sc=sc.fit_transform(xtr)
xte_sc=sc.transform(xte)
#fit을 두번하면 스케일 기준이 변경되어 fit은 한번만
svm_clf=SVC(kernel="rbf")
svm_clf.fit(xtr_sc,ytr)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [152]:
y_pred=svm_clf.predict(xte_sc)

In [153]:
y_pred

array([2., 2., 2., 2., 2., 2., 2., 4., 2., 4., 2., 4., 4., 2., 4., 4., 4.,
       4., 4., 4., 2., 4., 2., 4., 2., 4., 2., 2., 4., 2., 2., 2., 4., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 4., 4., 4., 2., 2., 2.,
       2., 2., 4., 2., 2., 2., 4., 2., 2., 4., 2., 2., 2., 4., 4., 2., 4.,
       2., 4., 4., 2., 2., 2., 4., 4., 2., 2., 2., 2., 2., 2., 2., 2., 4.,
       2., 2., 2., 4., 4., 4., 2., 4., 4., 4., 2., 2., 2., 2., 2., 2., 2.,
       4., 4., 4., 2., 2., 2., 2., 4., 2., 2., 2., 4., 4., 4., 4., 2., 2.,
       2., 4., 2., 4., 2., 4., 2., 4., 2., 2., 4., 2., 4., 2., 2., 2., 2.,
       2., 2., 2., 2.], dtype=float32)

In [154]:
svm_clf.classes_

array([2., 4.], dtype=float32)

In [155]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(yte,y_pred,labels=[4,2]))

[[47  1]
 [ 2 90]]